body{
    margin:0;
}
#main{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-color: bisque;
    margin: 0;
}

#gridContainer{
    display:grid;
    grid-template: repeat(16,41.5px) / repeat(16,41.5px);
    background-image: repeating-linear-gradient(100deg, red, gold);
    grid-gap: 2px;
    padding: 2px;
    
}

.gridKid{
    color: red;
    background-color: aqua;
    text-align: center;
    border: black solid thin;
    border-radius: 4%;

}

.gridKid:hover{
    background-color: black;
}

button{
    background-color: bisque;
}